<!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/h5-interaction-native.js"></script>
  </head>
  <body>
    <button onclick="clearHistory()">clear1</button>
  </body>
</html>
